


/* everything under .mod-root now. Don't want Andy messing with sidebars */
/* also, Andy only makes sense for vertical splits, at the root level, right? */
.mod-root.workspace-split.mod-vertical { 
  overflow-x:auto; 
  --header-width: 38px; /* <- 36px is the header height in the default theme */
}
.theme-light .mod-root.workspace-split.mod-vertical > div { 
  min-width: calc(50% + var(--header-width)); /* <-- 700px is the default theme's "readable" max-width */
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  position:sticky; 
  left:0;
}

.theme-dark .mod-root.workspace-split.mod-vertical > div { 
  min-width: calc(50% + var(--header-width)); /* <-- 700px is the default theme's "readable" max-width */
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
  position:sticky; 
  left:0;
}

/* shift sticky position, so titles will stack up to the left /
/ This will currently stack to a maximum of 10 before resetting */
.mod-root.workspace-split.mod-vertical > div:nth-child(10n-8) { left: calc(var(--header-width) * 0); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n-7) { left: calc(var(--header-width) * 1); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n-6) { left: calc(var(--header-width) * 2); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n-5) { left: calc(var(--header-width) * 3); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n-4) { left: calc(var(--header-width) * 4); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n-3) { left: calc(var(--header-width) * 5); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n-2) { left: calc(var(--header-width) * 6); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n-1) { left: calc(var(--header-width) * 7); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n+0) { left: calc(var(--header-width) * 8); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n+1) { left: calc(var(--header-width) * 9); }
/* now it's time for the fancy vertical titles */
/* first we'll add a bit of gap for the title to sit inside of */
.workspace-leaf-content {
padding-left: var(--header-width);
position: relative;
}
/* this is where the magic happens */
.view-header {
writing-mode: vertical-lr;
border-right: 1px solid var(--background-secondary-alt);
border-left: 1px solid var(--background-secondary-alt);
border-top: none;
border-bottom: none;
height: auto;
width: var(--header-width);
position: absolute;
left:0;
top:0;
bottom:0;
}
/* active titles have different border colours */
.workspace-leaf.mod-active .view-header {
border-right: 2px solid var(--interactive-accent);
border-bottom: none;
}
/* unset the title container height and swap padding */
.view-header-title-container {
height: unset;
padding-left: unset;
padding-top: 20px;
}
/* fix the long-title-obscuring shadows */
.view-header-title-container:after {
width: 100%;
height: 30px;
top:unset;
bottom: 0;
background: linear-gradient(to bottom, transparent, var(--background-secondary));
}
.workspace-leaf.mod-active .view-header-title-container:after {
background: linear-gradient(to bottom, transparent, var(--background-primary-alt));
}
/* swap the padding/margin around for the header and actions icons */
.view-header-icon, .view-actions {
padding: 10px 5px;
}
.view-action {
margin: 8px 0;
}
/* get rid of the gap left by the now-missing horizontal title */
.view-content {
height: 100%;
}
/* make the fake drop target overlay have a background so you can see it. /
/ TODO: figure out how the fake target overlay works so we can put the title back, too */
.workspace-fake-target-overlay {
background-color: var(--background-primary);
}










/* --------------- */
/* Disabled features */
/* These features are hidden in pursuit of a more focused editing experience */
/* Remove each line if you want to re-activate the feature *


.tooltip,                                       /* Tooltips *
.search-result-file-matches,                    /* File matches in search *
.backlink-pane .search-result-file-matches,     /* File matches in backlinks *
.nav-folder.mod-root > .nav-folder-title {      /* Root name */  

::-webkit-scrollbar {                           /* Scroll bars */                 
  display: none;
}

/*
.status-bar {
  display: none;
}
*/

.status-bar:hover {
  opacity: 100%;
  color: #999;
}



/* Hide ribbon 
.workspace-ribbon.mod-left {
  display:none;
}
.workspace-split.mod-left-split {
  margin-left:0;
}
*/

/* Frameless */

.workspace-split.mod-left-split > .workspace-tabs {
    padding: 0;}
.workspace-split.mod-left-split .workspace-tab-container-inner {
    padding-left:45px !important;}

.is-fullscreen .workspace-split.mod-left-split .workspace-tab-container-inner {
    padding-left:5px;}

body.is-frameless.mod-macos {
  padding-top: 0px !important;
}

.titlebar-button-container {
  display:none;
}

titlebar,
.titlebar-inner {
  position:fixed;
  top:0;
  height:12px;
  background:transparent;
}

/*
.workspace-split.mod-left-split > .workspace-tabs {
  padding-top:38px;
}



/* --------------- */
/* Colors and options */

:root {
  --font-normal:14px;
  --font-small:13px;
  --font-smaller:11px;
  --cursor:default;       /* Switch "default" to "pointer" if you like the normal style better */ 
}

.theme-dark {
  --background-secondary-alt:#19191A;
  --background-primary:#19191A; 
  --background-secondary:#19191A;
  --background-secondary-alt:#19191A;
  --background-tertiary:#222;
  --background-modifier-accent:#94a8b328;
  --background-modifier-border:#222;
  --background-modifier-border-hover:#444;
  --background-modifier-border-focus:#555;
  --quote-opening-modifier:rgb(255, 255, 255, 0.1);
  --text-faint:#444;
  --text-normal:#dedcde;
  --text-accent: #6a9af5; 
  --text-accent-hover:#83959e;
  --interactive-accent:#94a8b3;
  --interactive-accent-rgb:66, 66, 66;
  --interactive-accent-hover:#83959e;
  --text-highlight-bg:rgba(255, 255, 255, 0.15);
  --text-selection:#000;
  --background-modifier-cover: #19191A;
}
.theme-light {
  --background-primary:#f8f8f8;
  --background-secondary:#f8f8f8;
  --background-secondary-alt:#f8f8f8;
  --background-tertiary:#ededed;
  --background-modifier-accent:#6b8c9c1e;
  --background-modifier-border:#e6e6e6;
  --background-modifier-border-hover:#ddd;
  --background-modifier-border-focus:#bababa;
  --quote-opening-modifier:rgba(0, 0, 0, 0.1);
  --text-normal:#444;
  --text-faint:#ccc;
  --text-accent: #b268f5;
  --text-accent-hover:#81a7b9;
  --interactive-accent:#6b8c9c;
  --interactive-accent-hover:#6b8c9c;
  --interactive-accent-rgb:220, 220, 220;
  --text-selection:rgba(237, 237, 237, 1);
  --background-modifier-cover: #f8f8f8;
}

.titlebar-inner {
  color: var(--text-faint) !important;
}

.theme-light .titlebar {
  border-bottom: 1px solid var(--background-modifier-border);
}

.theme-dark .titlebar {
  border-bottom: 1px solid var(--background-modifier-border);
}







/* --------------- */
/* Italic Highlighter Styling */

.cm-em {
    background-color: #d9e287;
    color: black;
    font-style: italic;
}

em {
    background-color: #d9e287;
    color: black;
    font-style: italic;
  }


.theme-light .cm-em {
    background-color: #f5ffa0;
    font-style: italic;
  }

.theme-light em {
    background-color: #f5ffa0;
    font-style: italic;
  }



/* --------------- */
/* URL Styling */

.cm-s-obsidian span.cm-url {
  color: #7b7b53;
}

a {
  color: #4586ff;
}



/* --------------- */
/* Left align titles in editor */

.cm-s-obsidian pre.HyperMD-header :first-child {
  margin-left: -50px;
}

.cm-s-obsidian pre.HyperMD-header > span > span:first-child {
  color: var(--background-tertiary) !important;
}


.CodeMirror-gutter-wrapper {
  margin-left: -45px;
}

/* Hides collapsible chevron for titles — is broken */
.CodeMirror-gutter-elt {
  margin-left: -45px;
  color: #222 !important;
  display: none;
}




/* --------------- */
/* Command Prompt Styling */

.prompt {
  max-height: 100% !important;
  width: 90% !important;
  max-width: 890px !important;
}

input.prompt-input {
  font-size: 170%;
  padding: 15px 0px 80px 10px;
}

.suggestion-item {
  font-size: 95%;
  padding-bottom: 15px;
}

.prompt-instructions {
  display: none;
}



/* --------------- */
/* Settings Modal */

.modal.mod-settings .modal-content {
  font-family: Inter, iAWriterDuoS-Regular, Arial;
}

button.mod-cta {
  background-color: black;
  font-family: Inter, iAWriterDuoS-Regular, Arial;
}





/* Popover — make the preview popover larger and more legible */

.popover {
	font-size: 18px;
	border-radius: 10px;
}

.popover.hover-popover {
    border-radius: 10px;
    position: absolute;
    z-index: var(--layer-popover);
    max-height: 500px;
    /* was 300 */
    min-height: 320px;
    width: 520px;
    overflow: hidden;
    padding: 0;
    border-bottom: none;
    background: var(--background-secondary);
}

.popover h1 {
	font-size: 24px !important;
}





/* Fonts */

h1,h2,h3,h4 {letter-spacing:0em;} 
strong {font-weight:700;}


body, input, button, .cm-s-obsidian .cm-formatting-hashtag, .cm-s-obsidian {
  font-family: iAWriterDuoS-Regular,-apple-system,BlinkMacSystemFont,sans-serif !important;
  line-height: 1.7;
  font-size: 17px;
  letter-spacing: -0.2px;
  -webkit-font-smoothing:subpixel-antialiased !important;
}

.cm-s-obsidian .cm-header, .cm-s-obsidian .cm-strong {
  font-weight:600;
}
.cm-formatting-header {
  color:var(--text-faint) !important;
  font-weight:400 !important;
}
.file-embed-title,
.markdown-embed-title {
  letter-spacing:-0.02em;
  text-align:left;
  font-size:20px;
  font-weight:500;
}

.empty-state-title,
.markdown-preview-view h1,
.HyperMD-header-1,
.cm-header-1 {
  font-weight:600 !important;
  font-size: 40px;
  line-height: 115%;
  padding-bottom: 20px !important;
}
.markdown-preview-view h2,
.HyperMD-header-2,
.cm-header-2 {
  letter-spacing:-0.02em;
  font-weight:600 !important;
  margin-top: 40px;
  font-size: 28px;
  padding-bottom: 20px !important;
}
.markdown-preview-view h3,
.HyperMD-header-3,
.cm-header-3 {
  letter-spacing:-0em;
  font-weight:500 !important;
  margin-top: 30px;
  font-size: 22px;
}

.markdown-preview-view h4,
.HyperMD-header-4,
.cm-header-4 {
  letter-spacing:0.0em;
  color:var(--text-normal);
  font-weight: 600 !important;
}
.markdown-preview-view h5,
.HyperMD-header-5,
.cm-header-5 {
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing:0.05em;
  color:var(--text-normal);
  font-weight:600 !important;
}
.markdown-preview-view h6,
.HyperMD-header-6,
.cm-header-6 {
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing:0.1em;
  color:var(--text-muted);
  font-weight:500 !important;
}



/* Left Align Titles 

.HyperMD-header-3,
.cm-header-3 :first-child {
  margin-left: -2px !important;
}

.HyperMD-header-4,
.cm-header-4 :first-child {
  margin-left: -7px !important;
}

.HyperMD-header-5,
.cm-header-5 :first-child {
  margin-left: -18px !important;
}

.HyperMD-header-6,
.cm-header-6 :first-child {
  margin-left: -36px !important;
}


/* --------------- */
/* Icons */

.view-header-icon,
.workspace-tab-header,
.nav-action-button,
.side-dock-ribbon-tab, .side-dock-ribbon-action,
.view-header:not(:hover) .view-actions {
  color:var(--text-muted);
  opacity:0.3;
  transition:opacity 0 ease-in-out;
  cursor:var(--cursor);
}
.view-header-icon:hover,
.nav-action-button:hover,
.workspace-tab-header:hover,
.workspace-tab-header.is-active,
.side-dock-ribbon-tab:hover, .side-dock-ribbon-action:hover {
  color:var(--text-normal);
  opacity:0.8;
  transition:opacity 0 ease-in-out;
}

/* --------------- */
/* Focus mode */
/* When the left sidebar is collapsed */

.workspace-ribbon.mod-left {
  transition:border-color 0 ease-in-out;
}
.workspace-ribbon.mod-left.is-collapsed {
  border-color:transparent;
  transition:border-color 0.25s ease-in-out;
}
.workspace-ribbon.mod-left.is-collapsed .side-dock-actions,
.workspace-ribbon.mod-left.is-collapsed .side-dock-settings {
  opacity:0;
  transition:opacity 0.25s ease-in-out;
}
.workspace-ribbon.mod-left.is-collapsed:hover .side-dock-actions,
.workspace-ribbon.mod-left.is-collapsed:hover .side-dock-settings {
  opacity:1;
  transition:opacity 0s ease-in-out;
}

/* --------------- */
/* Tags */

.tag {
  background-color:var(--background-tertiary);
  border:none;
  color:var(--text-muted);
  font-size:var(--font-small);
  padding:1px 8px;
  text-align:center;
  text-decoration:none;
  display:inline-block;
  margin:5px 0px 0px;
  cursor:pointer;
  border-radius:14px;
}
.tag:hover {
  color:var(--text-muted);
  background-color:var(--background-modifier-border);
}
.cm-s-obsidian span.cm-hashtag {
  background-color:var(--background-tertiary);
  border:none;
  color:var(--text-muted);
  font-size:var(--font-small);
  text-align:center;
  text-decoration:none;
  display:inline-block;
  margin:0;
  vertical-align:middle;
  padding-top:3px;
  padding-bottom:4px;
  cursor:text;
}
.cm-hashtag-begin {
  border-top-left-radius:14px;
  border-bottom-left-radius:14px;
  padding-left:8px;
}
.cm-hashtag-end {
  border-top-right-radius:14px;
  border-bottom-right-radius:14px;
  padding-right:8px;
}


/* --------------- */
/* Modals */

input.prompt-input, input.prompt-input:hover {
  border:0;
  background:var(--background-primary);
}
.modal-container .suggestion-item.is-selected {
  border-radius:6px;
  background:var(--background-tertiary);
}
.suggestion-item.is-selected,
.menu-item:hover {
  background:var(--background-tertiary);
}

/* --------------- */
/* Modals */

.mod-drag {
  border-radius:0 !important;} 


/* --------------- */
/* Workspace */

/* Bigger margins when single pane */
.mod-single-child .CodeMirror-sizer {
  margin:0px 10% !important;
}
.mod-single-child .markdown-preview-section {
  margin:0px 10% !important;
}
.workspace-split.mod-horizontal > * > .workspace-leaf-resize-handle {
  height:1px;
  background:var(--background-modifier-border);
}
.workspace-split.mod-vertical > * > .workspace-leaf-resize-handle,
.workspace-split.mod-left-split > .workspace-leaf-resize-handle {
  background:var(--background-primary) !important;
  width:1px;
}
.workspace-tab-container-before, .workspace-tab-container-after{
  width:0;
}
.workspace-leaf {
  border-left:0px;
}.mod-horizontal .workspace-leaf {
  border-bottom:0px;
}
.workspace-leaf:not(.mod-active) {
  opacity:1;
}
.workspace-tab-container-inner {
  background: var(--background-secondary);
  border-bottom:1px solid var(--background-modifier-border);
  border-radius:0;
  width:100%;
  max-width:100%;
  margin:0 auto;
  padding-left:5px;
}
.workspace-tab-header.is-before-active .workspace-tab-header-inner,
.workspace-tab-header.is-active,
.workspace-tab-header.is-after-active,
.workspace-tab-header.is-after-active .workspace-tab-header-inner,
.workspace-tab-header.is-before-active, 
.workspace-tab-header.is-after-active {
  background:transparent;
}
.workspace-tabs {
  padding-right:0;
  font-size:100%;
  background: var(--background-secondary)
}
.workspace-tab-header-container {
  border:0 !important;
  padding-top: 0px !important;
  height:36px;
}



/* --------------- */
/* Title Bar */

.view-header-title:before {
	display: none;
}

.view-header-icon {
  display: none;
}


.view-header-title {
	font-size: 15px;
  font-weight:100;
  margin-top: 25px;
  margin-left:6px;
  color: var(--text-faint) !important;
  font-family: iAWriterDuoS-Regular, iAWriterQuattroS-Regular,-apple-system,BlinkMacSystemFont,sans-serif !important;
}
.workspace-leaf-header, .view-header {
  background-color:var(--background-primary) !important;
  border:none !important;
}
.view-header-title-container:after {
  display:none;
}

/* --------------- */
/* Editor */

.cm-s-obsidian .CodeMirror-code {
  padding-right:0;
}
.CodeMirror-lines {
  padding-bottom:200px;
  padding-top: 70px !important;
}

.markdown-preview-view .markdown-embed {
  margin:0;
}

/* Preview */
.markdown-preview-view {
  padding-bottom:200px;
  padding-top: 50px;
}

.view-header[target="preview"]  {
  background: #ffffff !important;
}
 
.markdown-preview-view .markdown-embed-content {
  max-height:none;
}

/* Width of Editor */

.markdown-source-view.is-readable-line-width .CodeMirror {
  max-width: 700px;
}

.CodeMirror-lines {
  margin:0 auto 0 auto;
  max-width:55rem;
  width:85%;
}

/* Width of Preview */

.markdown-preview-section {
  margin:0 auto 0 auto;
  max-width:55rem;
  width:85%;
}

.markdown-preview-view {
  background: var(--background-secondary);
  font-family: iAWriterQuattroS-Regular, Arial !important;
}

.markdown-preview-view h1, h2, h3, h4, h5, h6, p, li {
  color: var(--text-normal) !important;
}

.markdown-preview-view p {
  line-height: 1.7 !important;
}

/* Lists */

ul ul {
  list-style: none !important;
}

.cm-s-obsidian pre.HyperMD-list-line {
  padding-top: 3px;
}

.cm-formatting-list {
  color:var(--text-faint) !important;
}
/* Quote */
.cm-formatting-quote {
  color:var(--text-faint) !important;
}


/* --------------- */
/* Internal search */

.document-search-container.mod-replace-mode {
  height:90px;
}
.document-search-container {
  padding-top:10px;
  height:50px;
  background-color:var(--background-primary);
  border-top:1px solid var(--background-modifier-border);
}
input.document-search-input, input.document-replace-input {
  font-size:var(--font-small) !important;
  border:1px solid var(--background-modifier-border);
  border-radius:14px;
  background:var(--background-primary);
  transition:border-color 0.1s ease-in-out;
}
input.document-search-input:hover,
input.document-replace-input:hover {
  border:1px solid var(--background-modifier-border-hover);
  background:var(--background-primary);
  transition:border-color 0.1s ease-in-out;
}
input.document-search-input:focus,
input.document-replace-input:focus {
  border:1px solid var(--background-modifier-border-focus);
  background:var(--background-primary);
  transition:all 0.1s ease-in-out;
}
.document-search-button {
  font-size:var(--font-small);
}

/* --------------- */
/* Inputs */

button {
  background-color:transparent;
}
button:hover {
  background-color:var(--background-tertiary);
}

/* --------------- */
/* Checkboxes */

input[type=checkbox] {
  -webkit-appearance:none;
  appearance:none;
  border-radius:50%;
  border:1px solid var(--background-modifier-border-hover);
  padding:0;
}
input[type=checkbox]:focus,input[type=checkbox]:hover {
  outline:0;
  border-color:var(--text-faint);
}
input[type=checkbox]:checked {
  background-color:var(--text-accent-hover);
  border:1px solid var(--text-accent-hover);
  background-position:center;
  background-size:70%;
  background-repeat:no-repeat;
  background-image:url('data:image/svg+xml; utf8, <svg width="12px" height="10px" viewBox="0 0 12 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-4.000000, -6.000000)" fill="%23ffffff"><path d="M8.1043257,14.0367999 L4.52468714,10.5420499 C4.32525014,10.3497722 4.32525014,10.0368095 4.52468714,9.8424863 L5.24777413,9.1439454 C5.44721114,8.95166768 5.77142411,8.95166768 5.97086112,9.1439454 L8.46638057,11.5903727 L14.0291389,6.1442083 C14.2285759,5.95193057 14.5527889,5.95193057 14.7522259,6.1442083 L15.4753129,6.84377194 C15.6747499,7.03604967 15.6747499,7.35003511 15.4753129,7.54129009 L8.82741268,14.0367999 C8.62797568,14.2290777 8.3037627,14.2290777 8.1043257,14.0367999"></path></g></g></svg>');
}
.markdown-preview-view .task-list-item-checkbox {
  width:18px;
  height:18px;
  position:relative;
  top:6px;
  line-height:1;
  margin-left:-25px;
}
.markdown-preview-view .task-list-item {
  padding-inline-start:25px;
}
.side-dock-plugin-panel-inner {
  padding-right:6px;
  padding-left:6px;
}

/* --------------- */
/* Files */

.nav-header {
  padding:0;
}
.nav-buttons-container {
  padding:10px 5px 5px 5px;
  margin-bottom:0px !important;
  justify-content:flex-start;
  border:0;
}
.nav-folder.mod-root {
  padding-top:10px;
}
.nav-files-container {
  overflow-x:hidden;
}
.nav-folder-title {
  margin:0px;
  padding:0 10px 0 24px;
  cursor:var(--cursor);
}
.nav-file {
  margin-left:12px;
}
.nav-file-title {
  margin:0 8px 0 -4px;
  padding:2px 2px;
  border-width:0;
  border-color:var(--background-secondary);
  border-radius:6px;
  cursor:var(--cursor);
}
.nav-file-title-content {
  width:100%;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  padding:0 5px;
  vertical-align:middle;
  cursor:var(--cursor);
}
.nav-file-title, .nav-folder-title, 
.search-result-file-title, 
.tag-pane-tag {
  font-size:var(--font-small) !important;
  color:var(--text-muted);
  font-family: iAWriterDuoS-Regular,-apple-system,BlinkMacSystemFont,sans-serif;
  letter-spacing: -.4px;
  font-weight: 100;
}
.side-dock-collapsible-section-header {
  font-size:15px;
  color:var(--text-muted);
  cursor:var(--cursor);
}
.search-result-file-title:hover .search-result-collapse-indicator,
.side-dock-collapsible-section-header-indicator:hover,
.side-dock-collapsible-section-header:hover,
.side-dock-collapsible-section-header:hover .side-dock-collapsible-section-header-indicator {
  color:var(--text-normal);
}
.search-result-collapse-indicator,
.nav-folder-collapse-indicator,
.side-dock-collapsible-section-header-indicator,
.is-collapsed .side-dock-collapsible-section-header-indicator {
  color:var(--background-modifier-border);
}

/* --------------- */
/* Outline */

.outline .pane-empty {
  font-size:var(--font-small);
  color:var(--text-faint);
  margin:0 0 0 15px;
}
.outline .pane-clickable-item {
  cursor:var(--cursor);
  line-height:1.4;
  margin-bottom:4px;
  font-size:var(--font-small);
}

/* --------------- */
/* Search */

.search-input {
  max-width:calc(100% - 20px);
  margin-left:10px;
  width:500px;
}
input.search-input:focus {
  border-color:var(--background-modifier-border);
}
.workspace-leaf-content[data-type='search'] .search-result-file-matches {
  border-left:0;
  padding-left:0;
}
.search-empty-state {
  font-size:var(--font-small);
  color:var(--text-faint);
  padding-left:15px;
}
.search-result-container {
    padding:5px 10px 5px 5px;
}
.backlink-pane .search-result-container {
    padding:5px 0px 5px 25px;
}
.search-result-file-title {
  line-height:1.3;
  padding:5px 10px 5px 24px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  vertical-align:middle;
  cursor:var(--cursor)!important;
}
.search-result-collapse-indicator {
  left:-5px;
}
.search-result-file-matches {
  font-size:var(--font-small);
  line-height:1.3;
  margin-bottom:0px;
  padding:0 0 15px 0;
  color:var(--text-faint);
}
.backlink-pane .search-result-file-title {
  padding-left:10px;
}
.search-result-file-title:hover {
  color:var(--text-normal);
}
.workspace-leaf-content .search-input,
.workspace-leaf-content .search-input:hover,
.workspace-leaf-content .search-input:focus {
  font-size:var(--font-small);
  padding:7px 10px;
  border-radius:20px;
  background:var(--background-primary);
  border:1px solid var(--background-modifier-border);
  transition:border-color 0.1s ease-in-out;
}
.workspace-leaf-content .search-input:hover {
  border-color:var(--background-modifier-border-hover);
  transition:border-color 0.1s ease-in-out;
}
.workspace-leaf-content .search-input:focus {
  background:var(--background-primary);
  border-color:var(--background-modifier-border-focus);
  transition:all 0.1s ease-in-out;
}
.workspace-leaf-content .search-input::placeholder {
  color:var(--text-faint);
  font-size:var(--font-small);
}
.workspace-split.mod-root .workspace-split.mod-vertical .workspace-leaf-content {
  padding-right:0;
}
.workspace-split.mod-horizontal.mod-right-split {
  width:0;
}
.workspace-split.mod-vertical > .workspace-leaf {
  padding-right:1px;
}
.workspace-leaf-content[data-type=starred] .item-list {
  padding-top:10px;
}
.workspace-split.mod-right-split .view-content {
  padding:10px 0 30px 0;
}

/* --------------- */
/* Tags */

.tag-pane-tag-count {
  padding:0;
  color:var(--text-faint);
}
.tag-pane-tag {
  padding:0 10px;
  cursor:var(--cursor);
}
.nav-file.is-active .nav-file-title:hover {
  background:var(--background-tertiary) !important;
}
.nav-file.is-active > .nav-file-title {
  background:var(--background-tertiary);
}

/* --------------- */
/* Side docks collapsing */

.workspace-split.mod-right-split > .workspace-leaf-resize-handle {
  background:var(--background-modifier-border);
  width:1px !important;
}
.workspace-leaf-resize-handle:hover {
  background:var(--background-secondary);
}

/* --------------- */
/* Status bar */

.status-bar {
  background-color:var(--background-primary);
  color:var(--text-faint);
  font-size:var(--font-smaller);
  padding:0;
}
.status-bar-item {
  padding: 0 5px;
}
.status-bar-item-segment {
  margin-right:10px;
}

/* --------------- */
/* Sidedock icons */

.workspace-ribbon.is-collapsed {
  background: var(--background-primary);
}

.workspace-tabs, 
.workspace-tabs .workspace-leaf, {
  background: var(--background-primary) !important;
}


.workspace-ribbon-collapse-btn {
  margin-top:0;
  padding-top:40px;
}
.workspace-ribbon-collapse-btn,
.view-action,
.side-dock-ribbon-tab, .side-dock-ribbon-action {
  cursor:var(--cursor);
}
.workspace-ribbon {
  border-color:var(--background-modifier-border);
  background:var(--background-secondary);
}
.workspace-ribbon.mod-right {
  right:0;
  position:absolute;
  background:transparent;
  border-right:0;
}
.mod-right:not(.is-collapsed) ~ .workspace-split.mod-right-split {
  margin-right:0;
}
.side-dock-ribbon-action {
  padding:6px 0;
}
.side-dock-settings {
  margin-bottom:25px;
}
.side-dock-ribbon {
  border-left:0;
}

/* --------------- */
/* iframes */

iframe {
  border:0;
}

/* Markdown preview styling */
/* Blockquotes */
.markdown-preview-view blockquote {
  margin: 0px;
  background-color: var(--background-tertiary);
}


/* --------------- */
/* Lists */

ul {
  padding-inline-start:30px;
  list-style: none; /* Remove default bullets */
}

ul li:not(.task-list-item)::before {
  content: "\2022";
  color: var(--text-faint);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* --------------- */
/* Popover */


/* --------------- */
/* Graphs */

/*.graph-view.color-fill {
  color:var(--background-secondary);
}
.graph-view.color-circle {
  color:var(--text-normal);
}
.graph-view.color-line {
  color:var(--background-modifier-border);
}
.graph-view.color-text {
  color:var(--text-normal);
}
.graph-view.color-fill-highlight {
  color:var(--interactive-accent);
}*/
.graph-view.color-line-highlight {
  color:var(--interactive-accent);
}



